// variables.scss

$display: flex;
$justify-content: center;
$align-items: center;
$background-color: rgba(211, 211, 211, 0.435), white;
$color: #0a66c2, #666666, #074686, white;
$position: absolute;
$font-size: 14px, 16px, 18px;
$font-weight: bold;
$cursor: pointer;
$text-decoration: underline;
